@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Big+Shoulders+Display&family=Comfortaa:wght@300&family=DM+Sans:ital,wght@1,400;1,500&family=Inter&family=Lato:ital,wght@1,300&family=Lemonada&family=Lexend+Deca&family=Nunito:ital,wght@1,200&family=Outfit:wght@400;500&family=Overpass&family=Poppins:ital,wght@0,600;1,600&family=Red+Hat+Display&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Big+Shoulders+Display&family=Comfortaa:wght@300&family=DM+Sans:ital,wght@1,400;1,500&family=Inter&family=Lato:ital,wght@1,300&family=Lemonada&family=Lexend+Deca&family=Nunito:ital,wght@1,200&family=Outfit:wght@400;500&family=Overpass&family=Poppins:ital,wght@0,600;1,600&family=Red+Hat+Display&family=Rubik:wght@300&display=swap");
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 5rem;
  --font-1: "Big Shoulders Display";
  --font-2: "Lexend Deca";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.p-1 {
  padding: var(--spacing-1) !important;
}
.p-2 {
  padding: var(--spacing-2) !important;
}
.p-3 {
  padding: var(--spacing-3) !important;
}
.p-4 {
  padding: var(--spacing-4) !important;
}
.p-5 {
  padding: var(--spacing-5) !important;
}
.pt-2 {
  padding-top: var(--spacing-2);
}
.pt-3 {
  padding-top: var(--spacing-3);
}
.px-3 {
  padding-inline: var(--spacing-3);
}
.px-4 {
  padding-inline: var(--spacing-4);
}
.px-5 {
  padding-inline: var(--spacing-5);
}
.mt-1 {
  margin-top: var(--spacing-1) !important;
}
.mt-2 {
  margin-top: var(--spacing-2) !important;
}
.mt-3 {
  margin-top: var(--spacing-3) !important;
}
.mt-4 {
  margin-top: var(--spacing-4) !important;
}
.mt-5 {
  margin-top: var(--spacing-5) !important;
}
.mt-6 {
  margin-top: var(--spacing-6) !important;
}
.mb-1 {
  margin-bottom: var(--spacing-1) !important;
}
.mb-2 {
  margin-bottom: var(--spacing-2) !important;
}
.mb-3 {
  margin-bottom: var(--spacing-3) !important;
}
.mb-4 {
  margin-bottom: var(--spacing-4) !important;
}
.my-2 {
  margin-block: var(--spacing-2) !important;
}
.my-3 {
  margin-block: var(--spacing-3) !important;
}
.cursor-ponter {
  cursor: pointer;
}
.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}

/* start css for project*/
body {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-2) sans-serif;
  font-size: 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  margin-inline: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.bg-bright-orange {
  background-color: var(--bright-orange);
}
.bg-dark-cyan {
  background-color: var(--dark-cyan);
}
.bg-very-dark-cyan {
  background-color: var(--very-dark-cyan);
}
.col-md-4 {
  width: 33.333%;
}
.rounded {
  border-radius: 0.8rem;
  overflow: hidden;
}
.content h1 {
  font-family: var(--font-1);
  font-size: 3rem;
  color: var(--transparent-white);
  text-transform: uppercase;
}
.content .head {
  margin-block: 1.8rem;
}
.content .text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--transparent-white);
}
.btn {
  border: none;
  border-radius: 4rem;
  background-color: var(--transparent-white);
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.2rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  cursor: pointer;
  transition: all 1s ease;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.btn-1 {
  color: var(--bright-orange);
}
.btn-2 {
  color: var(--dark-cyan);
}
.btn-3 {
  color: var(--very-dark-cyan);
}
@media screen and (max-width: 1200px) {
  .content.p-5 {
    padding: var(--spacing-4) !important;
  }
}
@media screen and (max-width: 975px) {
  html {
    font-size: 12px !important;
  }
  .content.p-5 {
    padding: var(--spacing-3) !important;
  }
}
@media screen and (max-width: 652px) {
  html {
    font-size: 15px !important;
  }
  .row {
    margin-block: 2rem;
  }
  .col-12 {
    width: 100% !important;
  }
}
